# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/
build/

# PyCharm / IDE
.idea/
.vscode/

# Logs & temporäre Testdateien
*.log
*.tmp

# System-Dateien
Thumbs.db

# Anwendungsdaten, Configs & Crashlogs
*.yaml
*.cfg
*crashlog.txt
content.txt